.list {
  display: flex;
  flex-direction: column;

  width: fit-content;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;

  border: 1px solid gray;
  box-shadow: 1px 1px 2px black;
  border-radius: 5px;
  word-break: normal;
}

.list-button {
  margin: 0 5px;
  margin-top: 10px;
  font-size: 1rem;
}

.list-buttons-group {
  display: flex;
}
